div.login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: #0A5784;
}

.login-container {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: #141421;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.login-label {
  align-self: flex-start;
  margin: 0.3rem;
}

.login-input {
    padding: 0.6rem;
    border-radius: 6px;
    height: 30px;
    min-width: 300px;
}

.login-btn {
    margin-top: 0.5rem;
    border-radius: 8px;
    height: 30px;
    min-width: 130px;
    max-width: 170px;
    color: white;
    background-color: #f15152;
    cursor: pointer;
    transition: 200ms;
}

.login-btn:hover {
    transform: scale(1.03);
}