.dashboard-container {
  display: flex;
}

main.main-dash {
  color: white;
}

.main-dash section {
  border: 1px solid white;
  padding: 5px;
}

.left {
  flex: 1;
}

.consistency {
  width: 50%;
  justify-self: center;
}

.left,
.consistency {
  padding: 10px;
  text-align: center;
}

.consistency {
  margin: 20px 0px 20px 0px;
}


.top-left {
  margin-top: 0px;
  margin-bottom: 12px;
}
