
div.nutrition-main {
    color: #141421;
}

input,
select {
    outline: none;
}

.nutrition-main h1 {
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px 25px 0px;
}
.nutrition-container-h3{
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
} 

.nutrition-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal columns */
    gap: 2rem;
    min-height: 70vh;
    margin: 50px;
} 

.nutrition-container-left, 
.nutrition-container-right {
    /* background-color: #EDEADE; */
    background-color: #FAF9F6;
    flex: 1;
    border: solid #141421;
    border-radius: 30px;
    margin: 0 5px;
    padding: 0 8px; 
}


/* use this if removing border on container or after adjusting the container height for cleaner ui */
.nutrition-container-left .breakdown-item-card:last-child {
    border: none;
}

.nutrition-breakdown {
    border-radius: 5px;
    padding: 5px;
}

.breakdown-item-card {
    border-bottom: 1px solid #F9F6EE;
}


.breakdown-item-card h4 {
    text-align: left;
    font-size: 1.1rem;
}

.breakdown-username {
    color: #FAF9F6;
}

.breakdown-username span {
    text-decoration: underline;
    color: #f15152;
}

.breakdown-item-card p {
    text-align: center;
}

.nutrition-main h1,
.nutrition-main h3,
.breakdown-item-card h4,
.suggested-recipe-container h2 {
    font-family: Bebas Neue;
}

.enter-food-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: solid #FAF9F6;
    padding: 15px 0px;
    margin: 20px 0px;
}

.food-input {
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 8px;
    width: 300px;
}

.select-meal {
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    padding-left: 5px
}

.add-food-btn {
    border: none;
    color: #F9F6EE;
    border-radius: 8px;
    background-color: #141421;
    margin-top: 18px;
    width: 110px;
    height: 25px;
    cursor: pointer;
}

.get-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.suggested-recipe-container {
    background-color: #F9F6EE;
    margin: 20px 5px;
    padding: 5px;
    color: #FAF9F6;
    border: 1px solid #141421;
    border-radius: 40px;
    text-align: center;
    width: 66%;
    justify-self: center;
}

.suggested-recipe-container h2 {
    text-align: center;
    color: #141421;
    text-decoration: underline;
    font-size: 1.6rem;
}

.suggested-recipe-container p {
    color: #141421;
}

.ingredients-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px;
}

.ingredient-input {
    border-radius: 3px;
    border: none;
    height: 30px;
    padding: 8px;
    width: 300px;
}

.ingredient-input-row {
    display: flex;
    gap: 1rem;
}

.ingredient-btn {
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #FAF9F6;
    background-color: #141421;
    cursor: pointer;
}

.ingredients-list {
    font-size: 1.2rem;
    transform: translateX(-175px);
}

.ingredients-label {
    margin-bottom: 10px;
}

.sub-ingredients-btn {
    background-color: #f15152;
    color: #FAF9F6;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 10px 0px;
    cursor: pointer;
}





/* Stack on mobile */
@media (max-width: 768px) {
  .nutrition-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}