
div.nutrition-main {
    color: #141421;
}

input,
select {
    outline: none;
}

.nutrition-main h1 {
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px 25px 0px;
}

.nutrition-container-h3{
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
} 

.nutrition-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal columns */
    gap: 2rem;
    min-height: 70vh;
    margin: 50px;
} 

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between items in each column */
}

.nutrition-container-left, 
.nutrition-container-right {
    flex: 1;
    margin: 0 5px;
    padding: 0 8px; 
}

.nutrition-container-right {
    transform: translateY(80px);
}

.nutrition-breakdown {
    border-radius: 5px;
    padding: 5px;
}

.breakdown-item-card {
    background-color: #F9F6EE;
    border-radius: 30px;
    border-bottom: 1px solid #F9F6EE;
    padding: 30px;
    margin: 20px;
    box-shadow: 7px 7px 3px #141421;
}


.breakdown-item-card h4 {
    text-align: left;
    font-size: 1.1rem;
}

.breakdown-username {
    color: #FAF9F6;
}

.breakdown-username span {
    text-decoration: underline;
    color: #f15152;
}

.breakdown-item-card p {
    text-align: center;
}

.nutrition-main h1,
.nutrition-main h3,
.breakdown-item-card h4,
.suggested-recipe-container h2 {
    font-family: Bebas Neue, sans-serif;
}

.food-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 15px;
    background-color: #FAF9F6;
    border-bottom: solid #FAF9F6;
    padding: 8px 0px;
    margin: 20px 0px;
    box-shadow: 7px 7px 3px #141421;
}

.sub-food-form {
    display: flex;
    border-radius: 30px;
    background-color: #FAF9F6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: solid #FAF9F6;
    margin: 20px 0px;
    padding: 25px;
    box-shadow: 7px 7px 3px #141421;
}

.sub-food-form h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
    padding: 0;
    margin: 5px;
}

.sub-food-form span {
    font-weight: bold;
}

.sub-btn-div {
    display: block;
}

.nutrition-label {
    border-radius: 25px;
    border: 3px solid #141421;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nutrition-breakdown > h2 {
    margin: 0;
    padding: 0;
}

.nutrition-label h2 {
    font-family: Bebas Neue;
    font-style: italic;
    font-size: 1.7rem;
    font-weight: 585;
    text-decoration: underline;
    padding: 10px 10px 5px 10px; 
    margin: 0;
    text-align: center;
    color: #f15152;
}

.label-header {
    display: flex;
    align-items: center;
    border-bottom: 6px solid #141421;
    justify-content: space-between;
    width: 100%;
}


.label-header h3 {
    font-family: Bebas Neue, sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0;
    margin: 5px;
}

.label-header h4 {
    text-align: center;
    font-weight: normal;
}

.nutrition-label-data {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
} 

.nutrition-label-data dt, 
.nutrition-label-data dd {
    margin: 0px;
    padding: 10px 20px;
}

.display-food {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.food-item {
    border-bottom: 1px solid #141421;
    list-style: none;
}

.expanded {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: inherit;
    max-height: 200px;
    background-color: #141421;
}

.food-item-div {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.expand-food-item-btn {
    align-self: center;
    margin: 5px;
    width: 5rem;
}

.collapsed {
    display: none;
}

.food-input {
    border: none;
    border-radius: 3px;
    height: 30px;
    padding: 8px;
    width: 300px;
}

.select-meal {
    border: none;
    border-radius: 5px;
    height: 20px;
    width: 200px;
    padding-left: 5px
}

.add-food-btn {
    border: none;
    color: #F9F6EE;
    border-radius: 8px;
    background-color: #141421;
    margin-top: 18px;
    width: 110px;
    height: 25px;
    cursor: pointer;
    margin-right: 1rem;
}

.cancel-sub-btn {
    margin-left: 1rem;
    background-color: #f15152;
    color: #F9F6EE;
    border: none;
    border-radius: 8px;
    height: 20px;
}



.get-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #FAF9F6;
    padding: 15px;
    box-shadow: 7px 7px 3px #141421;
}

.suggested-recipe-container {
    background-color: #F9F6EE;
    margin: 20px 5px;
    padding: 5px;
    color: #FAF9F6;
    border: 1px solid #141421;
    border-radius: 40px;
    text-align: center;
    width: 66%;
    justify-self: center;
}

.suggested-recipe-container h2 {
    text-align: center;
    color: #141421;
    text-decoration: underline;
    font-size: 1.6rem;
}

.suggested-recipe-container p {
    color: #141421;
}

.ingredients-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px;
}

.ingredient-input {
    border-radius: 3px;
    border: none;
    height: 30px;
    padding: 8px;
    width: 300px;
}

.ingredient-input-row {
    display: flex;
    gap: 1rem;
}

.ingredient-btn {
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #FAF9F6;
    background-color: #141421;
    cursor: pointer;
}

.ingredients-list {
    font-size: 1.2rem;
    transform: translateX(-175px);
}

.ingredients-label {
    margin-bottom: 10px;
}

.sub-ingredients-btn {
    background-color: #f15152;
    color: #FAF9F6;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    border: none;
    padding: 8px;
    margin: 10px 0px;
    cursor: pointer;
}





/* Stack on mobile */
@media (max-width: 768px) {
  .nutrition-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}