.main-container {
  display: flex;
}

main {
  color: white;
}

section {
  border: 1px solid white;
  padding: 5px;
}

.left,
.weekly-stats-container {
  flex: 1;
}

.consistency {
  width: 50%;
  justify-self: center;
}

.weekly-stats-container,
.left,
.consistency {
  padding: 10px;
  text-align: center;
}

.consistency {
  margin: 20px 0px 20px 0px;
}

.weekly-stats-container {
  text-align: center;
  margin: 10px;
}

.stats-card {
  background-color: black;
}

.top-left {
  margin-top: 0px;
  margin-bottom: 12px;
}
