/* FITNESS MAIN COMPONENT */

.fitness-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fitness-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal columns */
    gap: 2rem;
    min-height: 70vh;
    margin: 50px;
} 

.fitness-main > h1 {
    color: #f15152;
}




/* DISPLAY FITNESS COMPONENT */

.display-fitness-main {
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.fitness-select-form {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-width: 250px;
    height: fit-content;
    background-color: #FAF9F6;
    padding: 15px;
    border-radius: 5px;
    min-height: 150px;
}

.workout-select-label {
    font-family: Bebas Neue, sans-serif;
    font-size: 1.3rem;
    margin: 10px 10px 3px 10px;
}

.workout-select {
    margin: 5px 10px 8px 10px;
    padding: 2px;
}

.workout-form-btn {
    padding: 3px;
    min-width: 80px;
    border: none;
    border-radius: 5px;
    background-color: #f15152;
    color: #FAF9F6;
}




/* PLANNING COMPONENT */

.plan-fitness-main {
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
    height: fit-content;
}

.day-of-week-planning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.day-of-week-planning button {
    font-family: Bebas Neue, sans-serif;
    font-size: 1rem;
    color: #141421;
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: lightgrey;
    margin: 5px 3px 10px 3px;
}