/* .fitness-main {
    display: flex;
    grid-template-columns: 1fr 1fr; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.fitness-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fitness-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Equal columns */
    gap: 2rem;
    min-height: 70vh;
    margin: 50px;
} 

.fitness-main > h1 {
    color: #f15152;
}

.fitness-select-form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    height: fit-content;
    background-color: #FAF9F6;
    padding: 15px;
    border-radius: 5px;
}

.display-fitness-main {
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 5px;
}

.plan-fitness-main {
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
    height: fit-content;
}