* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.main-body {
  background-color: #0A5784;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-layout-main {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body > main {
  flex-grow: 1; /* main expands to fill available space */
}


